<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet">
  <link href="../static/css/navbar.css" th:href="@{/css/navbar.css}" rel="stylesheet">
  <title>Login</title>
</head>
<body>

<section>
  <div class="navbar">
    <ul>
      <li><a href="#home">KanbanLab</a></li>
      <li style="float:right;"><a th:href="@{/register}" class="active" href="#">Signup</a></li>
      <li style="float:right;"><a th:href="@{/login}" class="active" href="#">Login</a></li>
    </ul>
  </div>

<!--
  <div align="center" th:if="${param.error}">
    <p class="warn">email or password invalid, please verify</p>
  </div>
-->
  <div class="login-box">

    <form class="form-horizontal"
          method="post"
          role="form"
          th:action="@{/login}"
    >
      <div class="user-box">
        <input type="email" name="username" id="username">
        <label for="password">Email</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" id="password">
        <label for="password">Password</label>
      </div>
      <a href="#" class="fp">Forgot Password</a>
      <a th:href="@{/register}" class="fp">Signup</a>
      <input type="submit" value="Login">
    </form>
  </div>
</section>

</body>
</html>



